<!DOCTYPE HTML>
<head>
    <link rel="stylesheet" href="../../static/css/style.css"> 
</head>

<body>
    <div class="container" id="Bottle0.5">

        <h4>Бутылка 0.5 литра</h4>

        <div class="counter">
            <form method="post">
            <button class="button_left" type="submit" name="decrease" value="decrease"></button>
            </form>

            <!-- Отображение значения -->
            <span id="counter-value">{{ counter }}</span>

            <!-- Форма для увеличения -->
            <form method="post">
                <button class="button_right" type="submit" name="increase" value="increase"></button>
            </form>
        </div>
    </div>    

    <div class="container" id="Bottle0.5">

        <h4>Пакет</h4>
        
        <div class="counter">
            <form method="post">
            <button class="button_left" type="submit" name="decrease0" value="decrease"></button>
            </form>

            <!-- Отображение значения -->
            <span id="counter-value">{{ counter0 }}</span>

            <!-- Форма для увеличения -->
            <form method="post">
                <button class="button_right" type="submit" name="increase0" value="increase"></button>
            </form>
        </div>
    </div>    

    <div class="container" id="Bottle0.5">
        <h4>Коробочка для еды</h4>
        
        <div class="counter">
            <form method="post">
            <button class="button_left" type="submit" name="decrease1" value="decrease"></button>
            </form>

            <!-- Отображение значения -->
            <span id="counter-value">{{ counter1 }}</span>

            <!-- Форма для увеличения -->
            <form method="post">
                <button class="button_right" type="submit" name="increase1" value="increase"></button>
            </form>
        </div>
    </div>    

    <div class="container" id="Bottle0.5">

        <h4>Одноразовая посуда</h4>
        
        <div class="counter">
            <form method="post">
            <button class="button_left" type="submit" name="decrease2" value="decrease"></button>
            </form>

            <!-- Отображение значения -->
            <span id="counter-value">{{ counter2 }}</span>

            <!-- Форма для увеличения -->
            <form method="post">
                <button class="button_right" type="submit" name="increase2" value="increase"></button>
            </form>
        </div>
    </div>

    <form method="post" class="reset">
        <button class="special_button" type="submit" name="reset">• Cбросить</button>
    </form>

    <form action="{{ url_for('submit_form') }}" method="post" class="form">
        <button class="special_button" type="submit">• Расчет</button>
    </form>

</body>